.page-main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}

.main {
  position: relative;
  flex-grow: 1;
}

.header {
  display: flex;
  width: 1052px;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 93px;
}

.header-menu {
  padding: 44px 36px 39px 26.52px;
}

.header-links-list {
  display: flex;
  flex-direction: row;
  row-gap: 13px;
  font-size: 18px;
  list-style: circle;
}

.header-links-item-no-bullit {
  list-style: none;
}

.links {
  text-underline-offset: 5px;
}

.header-links-item {
  letter-spacing: 0.01em;
  padding-right: 32px;
}

.header-links-item-last {
  padding-right: 0;
}

.header-links-active {
  text-decoration: none;
}

.address {
  position: relative;
  width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.header-address {
  margin-left: 195px;
  margin-top: 5px;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  color: #ffffff;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  margin-bottom: 178px;
}

.overlay {
  background-color: rgb(00 00 00 / 0.6);
  position: absolute;
  inset: 0;
}

.main-title {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  font-size: 100px;
  letter-spacing: 0.3em;
  margin: 0px 50px 125px 50px;
  padding-top: 165px;
}

.aligned-text {
  text-align: left;
}

.aligned-text-center {
  text-align: center;
  padding-top: 10px;
  padding-right: 30px;
}

.aligned-text-right {
  text-align: right;
}

.aligned-letter-spacing-end {
  letter-spacing: 0;
}

.aligned-letter-spacing {
  letter-spacing: 0.6em;
}

.cover-description {
  display: flex;
  flex-direction: row;
  column-gap: 79px;
  align-items: center;
}

.cover-description-text {
  width: 637px;
  font-weight: normal;
  font-size: 22px;
  margin-left: 78px;
  white-space: nowrap;
  word-spacing: 0.85em;
  z-index: 1;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 12px 32px 11px 31px;
  z-index: 1;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
  background: transparent;
}

.lots {
  width: 1052px;
  margin: auto;
  margin-bottom: 146px;
}

.lots-title {
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.lots-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 5px;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card {
  position: relative;
  width: 334px;
  min-height: 563px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card-link {
  font-family: Raleway, sans-serif;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0px 40px;
  padding-top: 52px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  z-index: 1;
}

.card-description {
  margin: 0px 40px;
  z-index: 1;
  padding-bottom: 48px;
}

.lots-look-more-link {
  font-family: Raleway, sans-serif;
  margin-left: 40px;
}

.about {
  width: 1052px;
  margin: auto;
  margin-bottom: 155px;
}

.about-column {
  display: flex;
  flex-direction: row;
  gap: 75px;
}

.about-logo-circle {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000000;
  margin: 35px 0px 0px 48px;
  border-radius: 50%;
}

.about-logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.container-about {
  width: 688px;
  margin: 138px 25px 5px 0px;
}

.about-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about-text {
  display: flex;
  margin-bottom: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  width: 1000px;
  margin: auto;
  margin-bottom: 88px;
  list-style: none;
}

.footer-link-list {
  min-width: 149px;
  text-align: center;
  list-style: none;
}

.footer-link-active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 240px;
  list-style: none;
}
